<h3 align="center">🖼️ Picture of the Day</h3>
<figure align="center">
  <p align="center">
    <a href="https://raw.githubusercontent.com/idelsink/idelsink/profile/artifacts/picture-of-the-day/{{ potd.artifacts.original }}">
      <img src="https://raw.githubusercontent.com/idelsink/idelsink/profile/artifacts/picture-of-the-day/{{ potd.artifacts.minimized }}">
    </a>
  </p>
  <figcaption align="center">
    <p align="center">
      {% for allowedReaction in allowedReactions -%}
      {%- set label = allowedReaction -%}
      {%- set message = (((reactions.potd[allowedReaction]|default(dict()) )['count'])|default(0)) -%}
        <a href="https://github.com/idelsink/idelsink/issues/new?title={{ label|urlencode }}&body={{ 'You can leave a message here!'|urlencode }}&labels={{ 'type: reaction, reaction:type: picture-of-the-day'|urlencode }}&template=picture-of-the-day-reaction.md" alt="{{ label }}">
          <img src="https://raster.shields.io/static/v1?label={{ label|urlencode }}&message={{ message|urlencode }}&color=blue&style=flat">
        </a>
      {%- endfor %}<br />
      <i>{{ potd.description }}</i><br />
      <i><sub>{{ potd.parsedMetadata.creationTimeDateString }}</sub></i><br />
      <sub>
        This work is licensed under a <a rel="license" href="http://creativecommons.org/licenses/by-sa/4.0/">Creative Commons Attribution-ShareAlike 4.0 International License</a>.
      </sub>
    </p>
  </figcaption>
</figure>

<h3 align="center">👋 Well hi there!</h3>

<p align="center">
  <a href="https://ingmar.dels.ink/"><img src="https://img.shields.io/badge/🔗%20ingmar.dels.ink-009688?style=flat" alt="Personal website Badge"></a>
  <a href="https://linkedin.com/in/idelsink/"><img src="https://img.shields.io/badge/idelsink-0A66C2?style=flat&amp;logo=LinkedIn&amp;logoColor=white" alt="Linkedin Badge"></a>
  <a href="https://keybase.io/binbash"><img src="https://img.shields.io/badge/BinBash-33A0FF?style=flat&amp;logo=Keybase&amp;logoColor=white" alt="Keybase Badge"></a>
  <a href="https://last.fm/user/ingmagination"><img src="https://img.shields.io/badge/ingmagination-D51007?style=flat&amp;logo=Last.fm&amp;logoColor=white" alt="Last.fm Badge"></a>
  <a href="https://www.instagram.com/idelsink"><img src="https://img.shields.io/badge/idelsink-E4405F?style=flat&amp;logo=Instagram&amp;logoColor=white" alt="Instagram Badge"></a>
</p>

<p align="center">
  I'm a Dutch Embedded Systems Engineer living in Berlin. In my daily life I try to convince the computer to do what I tell it to do.
</p>

<p align="center">
	<img src="https://github-readme-stats.vercel.app/api?username=idelsink&show_icons=true&border_radius=20">
</p>
